@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
:root {
  --font-family: "Roboto", sans-serif;
  --bg-white: #fff;
  --primary-color: #141722;
  --secondary-bg-color: #798399;
  --tertiary-bg-color: #f3ce8c;
  --text-color-secondary: #222;
  --text-color-tertiary: #7e7e7e;
  --color-accent: #efe9e0;
}
body {
  font-family: var(--font-family);
}
ul,
ol,
p,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
